<% include partials/head %>

<main>
<h2 class="ui header centered">Latisha's Blogs</h2>
<section id="index-container" class="ui container segments">
    <% blogs.map(blog => { %>
        <section id="blog-container" class="ui segment">  
            <section id="left-segment">
            <h3><%= blog.title %> </h3>
            <section class="ui image small">
                <img class="materialBoxed left floated" src="<%= blog.image %>" alt="<%= blog.title %>">
            </section>
            </section>
            <section id="right-segment">
                <p><%= blog.created.toDateString() %></p>
                <p><%- blog.body.substring(0,100) %>...</p>
                <a href="/blogs/<%= blog._id %>" class="ui inverted purple button">Read More</a>
            </section>
        </section>
    <% })%>
</section>
</main>

<% include partials/footer %>


