<% include partials/head %>

<!-- styling not working in application.scss, applying styles inline -->
<main id="show-container" class="ui main text container segment" style="display: flex; flex-direction: column; align-items:center;">
        <h1 class="ui header"><%= blog.title %></h1>
        <img  class="ui large image" src="<%= blog.image %>" alt="<%= blog.title %>">
        <p><%= blog.created.toDateString() %></p>
        <p><%- blog.body %></p>
        <section id="edit-delete-container">
            <a class="ui inverted orange button" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <form action="/blogs/<%= blog._id%>?_method=DELETE" method="POST">
                <button class="ui inverted red button">Delete</button>
            </form>
        </section>

</main>

<% include partials/footer %>